.navbar{
    display: flex;
    width: 70vw;
    background-color: #46a55c;
    border-radius: 15px;
    height: 10vh;
    margin-bottom: 2vh;
    justify-content: space-around;
    flex-grow: 1
}

.navList{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    align-items: center;
    vertical-align: middle;
}

.navLink{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.navLink:hover{
    transition: 0.4s;
    color: white;
    border-radius: 0.3cm;
    text-decoration: underline;
}

.navName{
    display: flex;
    color: white;
    margin: 0;
    font-size: x-large;
}

.chatroomName {
    padding-left: auto;
    padding-right: auto;
}

.navItems{
    display: flex;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: medium;
    vertical-align: middle;
  }

.fas{
    margin-right: 2mm;
    padding-top: 1mm;
    margin-left: 0mm;
}
.fa-magnifying-glass-location {
    padding-top: 2mm;
    font-size: x-large;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navbar {
      width: 100vw;
      height: 100px;
      margin-bottom: 5px;
    }
    .navList {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .navItems {
        margin: 0px;
        padding: 0px;
    }
  }