.chatroomList {
    align-self: center;
    width: 90%;
    background-color: #efefef;
    height: 50vh;
    overflow: auto;
    text-align: justify;
    padding: 20px;
    border-radius: 15px;
}

.chatroomItemLink, .chatroomItemLink:focus, .chatroomItemLink:active {
    text-decoration: none;
    color: black;
}

.chatroomItemLink:hover {
    color: #46a55c;
    box-shadow: black 5px;
}

@media only screen and (max-width: 768px) {
    .chatroomList {
        height: 80vh;
    }
}