.ChatRoom {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 70vw;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .ChatRoom {
      width: 100vw;
    }
  }